node_modules/
**/node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

.env
.env*.local
**/.env
**/.env.*

dist/
**/dist/
dist-server/
**/dist-server/
build/
**/build/
.next/
out/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/

Credentials.md
Credentials*.md

*.tsbuildinfo
tsconfig.tsbuildinfo
